<%- include("partials/header")-%>

<div>
        <form action="/result" method="POST">
                <div class="container h-100">
                  <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                      <input class="search_input" type="text" name="searchKeyword" placeholder="Try 'liked memes'">
                      <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
                      
                    </div>
                  </div>
                </div>
                <p1 hidden name="pageName">Result</p1>
        </form>
</div>

<div class="container result-div">
        <% var index = 0; %>
        
        <% while(index < items.length) { %>
                <div class="row img-row d-flex justify-content-center">
                        <% for(var x=0; x<3 && index<items.length ; x++,index++) {    %>                                       
                                        <div class="col-sm column ">
                                                <div class="result-card">
                                                        
                                                                <img class="img-size" src="data:image/<%=items[index].img.contentType%>;base64,
                                                                <%=items[index].img.data.toString('base64')%>" alt="meme">                       
                                                        
                                                        <div class="meme-menu">

                                                                <% if(liked[index]==0){ %>

                                                                        <i onclick="handleLike(this,0,'<%=items[index]._id%>')" id="likeButton" class="icon like-btn far fa-heart"></i>

                                                                <% } else{ %>                                                                

                                                                        <i onclick="handleLike(this,1,'<%=items[index]._id%>')" id="likeButton" class="icon like-btn fas fa-heart"></i>

                                                                <% } %>

                                                                
                                                                



                                                                <a class="download-a"
                                                                 href="data:image/<%=items[index].img.contentType%>;base64,
                                                                        <%=items[index].img.data.toString('base64')%>" download="meme.png" >
                                                                <i class="icon fas fa-arrow-down"></i>
                                                                </a>


                                                        </div>
                                                </div>
                                                
                                                
                                        </div>                                                                                                                               
                        <% } %>
                </div>  
        <% } %>

        <script src="/js/handleLike.js"></script>

</div>


<%- include("partials/footer") -%>

<!-- 
